<h2>Sign Up</h2>
<form>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Enter your email" />
  </div>
  <div>
    <label for="username">First Name</label>
    <input type="text" id="firstname" name="firstname" placeholder="Enter your first name" />
  </div>
  <div>
    <label for="username">Last Name</label>
    <input type="text" id="lastname" name="lastname" placeholder="Enter your last name" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Enter your password" />
  </div>
  <div>
    <label for="password">Confirm Password</label>
    <input type="password" id="cpassword" name="cpassword" placeholder="Confirm password" />
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>
